@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    background-image:linear-gradient(to right, white, rgb(131, 131, 131), black);
    margin: 0px;
    font-family: 'Sriracha', 'cursive';
    
}
header {
    background-color: black;
    height: 220px;
    color: white;
    text-align: center;
    font-size: 60px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
header a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}
header p {
    font-size: 20px;
    
}
header a:hover {
    text-decoration: underline;
}
header h1 {
    font-size: 10vw;
    margin: 0px;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#texto1 {
    font-size: 5vw;
    line-height: 100px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin-bottom: 50px;
}
div {
    background-image: url(imagens/background001.jpg);
    height: 1000px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
#texto2 {
    background-color: rgba(0, 0, 0, 0.658);
    position: absolute;
    color: white;
    font-size: 5vw;
    line-height: 100px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 50px;
    left: 30px;
    border-radius: 10px;
    }
#texto3 {
    font-size: 5vw;
    line-height: 100px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    margin-bottom: 50px;
}
.ultimadiv {
    background-image: url(imagens/background002.jpg);
    height: 800px;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}
#texto4 {
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    color: white;
    font-size: 5vw;
    line-height: 100px;
    padding-left: 30px;
    padding-right: 20px;
    margin-bottom: 50px;
    left: 30px;
    border-radius: 10px;
}
#texto5 {
    font-size: 5vw;
    line-height: 100px;
    padding-left: 30px;
    margin-bottom: 50px;
}
footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: center;
    height: 20px;
    padding-bottom: 5px;
    }
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}